<div class="container">
  <div class="card">
    <div class="card-header">

    </div>
    <div class="card-body">
      <div class="card-name">
        <img src="../assets/image-victor.jpg" class="card-photo" alt="">
        <h2 class="text-center mt-4">Victor Crest <span class="text-secondary">22</span></h2>
        <h4 class="text-center text-secondary">London</h4>
      </div>
      <ul class="card-data">
        <li class="text-center mt-3"><h3>80K</h3><span class="text-secondary">Followers</span> </li>
        <li class="text-center mt-3"><h3>803K</h3><span class="text-secondary">Likes</span> </li>
        <li class="text-center mt-3"><h3>152K</h3><span class="text-secondary">Photos</span> </li>
      </ul>
    </div>
  </div>
</div>

